.contact {
  margin: 3rem auto;
  max-width: 1000px;
  padding: 0 0.75rem;
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 325px;
    width: 100%;
    .contact-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .contact-information {
        display: flex;
        flex-basis: 40%;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 1rem;
        input {
          background-color: $kgrey;
          border: none;
          border-radius: 0;
          color: white;
          font-size: 1.1rem;
          padding: 5px;
          margin: 0;
          width: 100%;
        }
      }
      .contact-message {
        display: flex;
        flex-basis: 60%;
        textarea {
          background-color: $kgrey;
          border: none;
          font-size: 1.1rem;
          border-radius: 0;
          padding: 5px;
          margin: 0;
          color: white;
          resize: none;
          width: 100%;
        }
      }
    }
    .send {
      border: none;
      border-radius: 0.5rem;
      background-color: $kred;
      color: white;
      font-size: 1.1rem;
      margin-top: 1rem;
      padding: 0.25em 0.75em;
      text-shadow: 0 1px 0 black;
      text-align: center;

      &:hover {
        background-color: $kgrey;
      }

      &:active {
        background-color: $kdarkgrey;
        border: 2px solid $kgrey;
      }
    }
  }

  @media (min-width: 576px) {
    form {
      max-width: 600px;
      .contact-container {
        flex-direction: row;
      }
      .send {
        margin-left: auto;
        width: 275px;
      }
    }
  }
  @media (min-width: 992px) {
    padding: 0;
    form {
      max-width: 800px;
    }
  }
}

::placeholder {
  color: white;
}
