/* General styling */

*,
::after,
::before {
  box-sizing: border-box;
  font-family: "biko";
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Aplico font:inherit y margin:0 a estos elementos para asegurarme su reseteo (también por si uso Bootstrap) */

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
select {
  font: inherit;
  margin: 0;
}

.breadcrumbs {
  color: $kgrey;
  margin: 0.75rem 0 0.75rem 1rem;
  font-size: 0.9rem;
  a {
    color: $kgrey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.section-title {
  color: $kred;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  @media (min-width: 992px) {
    font-size: 2.25rem;
  }
}
.section-divider {
  margin: 0 10px 0 10px;
  border-top: 5px solid $kred;
  opacity: 1;
}

.wrapper {
  /* Agrego un wrapper de max-width 1600px para lidiar con el stretching en dispositivos grandes */
  margin: 0 auto;
  max-width: 1600px;
}
