.main {
  & > a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      text-decoration-color: $kpurple;
    }
  }
}

.section-title {
  color: $kred;
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
  margin: 25px 0 25px 0;
}
.section-divider {
  margin: 0 10px 0 10px;
  border-top: 5px solid $kred;
  opacity: 1;
}

.products-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 1200px;
  .box {
    background-repeat: no-repeat;
    background-size: cover;
    // height: 300px;
    margin: 20px 30px 20px 30px;
    max-width: 300px;
    position: relative;
    width: 100%;
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0.25rem;
      font-size: 1.5rem;
      width: 125px;
      background-color: hsla(0, 0%, 0%, 0.5);
      color: white;
      border: 1px solid white;
      transition: ease-in-out 200ms;
      &:hover {
        background-color: hsla(0, 0%, 0%, 0.75);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
          0 6px 20px 0 rgba(0, 0, 0, 0.5);
      }
      &:active {
        background-color: hsla(0, 0%, 0%, 0.25);
        transition: none;
      }
    }
  }
  .empresa {
    background-image: url("../media/empresa.png");
  }
  .hogar {
    background-image: url("../media/hogar.png");
    margin-bottom: 50px;
  }
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 10px;
    justify-self: center;
    .box {
      height: 500px;
      margin: 0 0 50px 0;
      max-width: 600px;
      button {
        font-size: 2rem;
        width: 300px;
      }
    }
    .empresa {
      margin-right: 10px;
    }
  }
}
.instagram-title {
  margin: 0 0 10px 0;
}
.instagram-name {
  color: $kpurple;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin: 0 0 10px 0;
}
.button-wsp {
  position: fixed;
  z-index: 3;
  bottom: 30px;
  right: 30px;
  transition: 200ms transform ease-in-out;
  border-radius: 100%;
  box-shadow: 0 0 2px black;
  img {
    height: 50px;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 3px black;
  }
}
.breadcrumbs {
  color: $kgrey;
  margin: 5px 0 0 20px;
  font-size: 0.9rem;
  a {
    color: $kgrey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
