/* Mixin for auto-playing slider */

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeedHogar: 16s; /* Adjusted value */
$animationSpeedEmpresas: 80s; /* Adjusted value */
$animationSpeedAmbientaciones: 20s; /* Adjusted value */

@keyframes scrollEmpresas {
  0% {
    transform: translateX(
      calc(-225px * 40)
    ); // El primer término debe ser el width de .slide
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scrollHogar {
  0% {
    transform: translateX(
      calc(-225px * 8)
    ); // El primer término debe ser el width de .slide
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scrollAmbientaciones {
  0% {
    transform: translateX(
      calc(-375px * 8)
    ); // El primer término debe ser el width de .slide
  }
  100% {
    transform: translateX(0);
  }
}
