.nosotrosHeader-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: $kdarkgrey;

    .nosotrosHeader-text {
        font-size: 1.5rem;
        margin: 30px 30px 0 30px;

        span {
            color: $kred;
        }

        span:last-of-type {
            color: $kpurple
        }
    }

    .nosotrosHeader-image {
        transform: translateX(150px) translateY(-25px);
        z-index: -1;
        object-fit: scale-down;
    }

    @media (min-width: 992px) {
        flex-direction: row;
        align-items: center;
        margin: 0 0 0 100px;

        .nosotrosHeader-text {
            font-size: 2rem;
        }
    }
}

.nosotrosTitle {
    font-size: 2rem;
}

.nosotrosBoxes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    text-align: center;
    margin: 0 30px 75px 30px;
    justify-items: center;
    color: white;


    .box {
        background-color: $kgrey;
        width: 170px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .box2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .box3 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .box4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .boxNumber {
        font-size: 3rem;
    }

    .boxText {
        font-size: 1.4rem;
        padding: auto;
    }

    @media (max-width: 460px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 992px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .box {
            width: 200px;
            height: 250px;
        }
    }
}

.nosotrosCarousel-container {
    .carousel-inner {
        .carousel-item {
            height: 500px;

            img {
                width: 500px;
            }
        }
    }

    .carousel-item,
    img {
        height: 100% !important;
        width: 100;
        max-height: 500px;
    }


    .carousel-caption {
        background-color: hsla(0, 0%, 0%, 0.25);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .nosotrosCarousel-text {
        text-align: end;
        padding: 0 50px;
        font-size: 1.5rem;
    }
}

.nosotrosHistoria-container {
    margin: 20px 10px 20px 10px;

    .imagenFundacion {
        width: 100%;
        margin: 0 0 50px 0;
    }

    .historiaPunteo-container {
        display: flex;
        flex-direction: column;

        .historiaPunteo-horizontal {
            display: flex;
            flex-direction: row;
            margin: 0 0 100px 0;


            img {
                max-width: 150px;
                max-height: 150px;
                border-radius: 100%;
            }

            .img1 {
                translate: 20px 75px;
            }

            .img2 {
                translate: -20px 75px;
            }

            .text1 {
                span {
                    color: $kpurple;
                }
            }

            .text2 {
                text-align: end;

                span {
                    color: $kred;
                }
            }
        }
    }

    @media (min-width:992px) {
        margin: 20px 150px 20px 150px;

        .historiaPunteo-container {

            .historiaPunteo-horizontal {

                .text1,
                .text2 {
                    font-size: 1.5rem;
                }

                img {
                    max-width: 250px;
                    max-height: 250px;

                }

                .img1 {
                    translate: 75px 0
                }

                .img2 {
                    translate: -75px 0;

                }
            }
        }
    }

    .historia-textoFinal {
        text-align: center;
        margin: 0 20px 0 20px;

        span {
            color: $kpurple
        }

        @media (min-width: 992px) {
            font-size: 1.5rem;
        }
    }
}