.clients-container {
  border-top: 3px solid $kred;
  margin: 0 auto;
  // max-width: 1200px;
  padding: 3rem 0;

  .slider-title {
    display: flex;
    font-size: 1.25rem;
    justify-content: center;
    margin: 0 auto;
  }

  .slider-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 2.5rem 0;

    .slider {
      background: none;
      height: 175px; /* Adjusted value */
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 1600px; /* Must be <= to the width of each .slide * the amount of slides / 2 */

      &::before,
      &::after {
        @media only screen and (min-width: 768px) {
          @include white-gradient;
          content: "";
          height: 175px; /* Adjusted value */
          position: absolute;
          width: 175px; /* Adjusted value */
          z-index: 2;
        }
      }

      &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }

      &::before {
        left: 0;
        top: 0;
      }

      .slide-track {
        animation: scrollEmpresas $animationSpeedEmpresas linear infinite;
        display: flex;
        width: calc(
          225px * 80
        ); /* Adjusted value, here I calculate the width of each .slide times the total amount of slides */
      }

      .slide-track.slide-hogar {
        animation: scrollHogar $animationSpeedHogar linear infinite;
        width: calc(
          225px * 16
        ); /* Adjusted value, here I calculate the width of each .slide times the total amount of slides */
      }

      .slide {
        height: 175px; /* Adjusted value */
        width: 225px; /* Adjusted value, the width of each slide can be > to the width of each image */
        img {
          align-self: center;
          height: 175px; /* Adjusted value */
          margin: 0 auto;
          width: 175px; /* Adjusted value */
        }
      }
    }
  }
}
