.categorias {
  padding: 3rem 0.75rem;
  h3 {
    color: $kred;
    font-size: 2.25rem;
    margin-bottom: 3rem;
    text-align: center;
    @media (min-width: 992px) {
      font-size: 2.5rem;
    }
  }
  .categorias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;
    .categoria {
      align-items: center;
      background-color: $kgrey;
      cursor: pointer;
      display: flex;
      justify-content: center;
      min-height: 250px;
      max-width: 250px;
      padding: 1.25rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 100%;
      &::after {
        background-color: rgba(0, 0, 0, 0); // Transparente por defecto
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: background-color 0.3s ease-in-out;
        width: 100%;
        z-index: 0; // Para colocarse por debajo del span (y no oscurecerlo con el efecto)
      }
      &:hover::after {
        background-color: rgba(0, 0, 0, 0.5); // Oscurecimiento en hover
      }
    }

    .categoria{
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.empresa {
      .categoria:nth-child(1) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_escritorios.jpg ");
      }
      .categoria:nth-child(2) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_puestos_trabajo.jpg ");
      }
      .categoria:nth-child(3) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_recepciones.jpg ");
      }
      .categoria:nth-child(4) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_sala_reuniones.jpg ");
      }
      .categoria:nth-child(5) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_revestimientos.jpg ");
      }
      .categoria:nth-child(6) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_cerramientos.jpg ");
      }
      .categoria:nth-child(7) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_biblioteca.jpg ");
      }
      .categoria:nth-child(8) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/empresa/Seccion_comerciales.jpg ");
      }
      .categoria:nth-child(9) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/placeholder2.png ");
      }
    }
    &.hogar {
      .categoria:nth-child(1) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_cocina.jpg ");
      }
      .categoria:nth-child(2) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_living.jpg ");
      }
      .categoria:nth-child(3) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_dormitorios_suite.jpg ");
      }
      .categoria:nth-child(4) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_dormitorio_juvenil.jpg ");
      }
      .categoria:nth-child(5) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_baño.jpg ");
      }
      .categoria:nth-child(6) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_comedores.jpg ");
      }
      .categoria:nth-child(7) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_Revestimientos\ _interior.jpg ");
      }
      .categoria:nth-child(8) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_escaleras_aberturas.jpg ");
      }
      .categoria:nth-child(9) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url("./../../media/hogar/Seccion_exteriores.jpg ");
      }
    }

    span {
      align-items: center;
      border: #fff 1px solid;
      color: #fff;
      display: flex;
      font-size: 1rem;
      height: 100%;
      justify-content: center;
      padding: 1rem;
      text-shadow: 1px 1px #000;
      width: 100%;
      z-index: 1; // Para colocarse por debajo del span (y no oscurecerlo con el efecto)
    }
  }
}
