.productos {
  padding: 3rem 0.75rem;

  .productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;

    .producto {
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: flex-end;
      min-height: 250px;
      max-width: 250px;
      position: relative;
      width: 100%;

      .producto-header {
        align-items: center;
        color: #fff;
        display: flex;
        height: 2rem;
        justify-content: flex-end;
        padding: 0.5rem 0.75rem 0.5rem 0;
        position: relative;
        width: 100%;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(60, 59, 59, 0.5);
          z-index: -1;
        }
      }
      .producto-whatsapp {
        bottom: 2.5px;
        color: #fff;
        display: flex;
        gap: 0.5rem;
        position: absolute;
        right: 2.5px;
        text-decoration: none;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
        &:hover {
          text-decoration: underline;
        }
        img {
          max-width: 25px;
        }
      }
    }
    &.escritorios {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/escritorios/ees1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/escritorios/ees2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/escritorios/ees3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/escritorios/ees4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/escritorios/ees5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/escritorios/ees6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/empresa/escritorios/ees7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/empresa/escritorios/ees8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/empresa/escritorios/ees9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/empresa/escritorios/ees10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/empresa/escritorios/ees11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/empresa/escritorios/ees12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/empresa/escritorios/ees13.jpg");
      }
      .producto:nth-child(14) {
        background-image: url("./../media/empresa/escritorios/ees14.jpg");
      }
      .producto:nth-child(15) {
        background-image: url("./../media/empresa/escritorios/ees15.jpg");
      }
    }
    &.puestos {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/empresa/puestos-de-trabajo/ept9.jpg");
      }
    }
    &.recepciones {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/recepciones/erc1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/recepciones/erc2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/recepciones/erc3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/recepciones/erc4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/recepciones/erc5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/recepciones/erc6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/empresa/recepciones/erc7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/empresa/recepciones/erc8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/empresa/recepciones/erc9.jpg");
      }
    }
    &.salas {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/empresa/salas-de-reuniones/esr9.jpg");
      }
    }
    &.revestimientos {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/revestimientos/ers1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/revestimientos/ers2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/revestimientos/ers3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/revestimientos/ers4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/revestimientos/ers5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/revestimientos/ers6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/empresa/revestimientos/ers7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/empresa/revestimientos/ers8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/empresa/revestimientos/ers9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/empresa/revestimientos/ers10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/empresa/revestimientos/ers11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/empresa/revestimientos/ers12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/empresa/revestimientos/ers13.jpg");
      }
      .producto:nth-child(14) {
        background-image: url("./../media/empresa/revestimientos/ers14.jpg");
      }
      .producto:nth-child(15) {
        background-image: url("./../media/empresa/revestimientos/ers15.jpg");
      }
    }
    &.cerramientos {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/cerramientos-para-oficinas/eco1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/cerramientos-para-oficinas/eco2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/cerramientos-para-oficinas/eco3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/cerramientos-para-oficinas/eco4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/cerramientos-para-oficinas/eco5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/cerramientos-para-oficinas/eco6.jpg");
      }
    }
    &.bibliotecas {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/empresa/bibliotecas-y-gabinetes/ebg12.jpg");
      }
    }
    &.comerciales {
      .producto:nth-child(1) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/empresa/comerciales-y-obras/ecb9.jpg");
      }
    }
    &.sillas {
      .producto:nth-child(1) {
        background-color: $kpurple;
      }
      .producto:nth-child(2) {
        background-color: $kpurple;
      }
      .producto:nth-child(3) {
        background-color: $kpurple;
      }
      .producto:nth-child(4) {
        background-color: $kpurple;
      }
      .producto:nth-child(5) {
        background-color: $kpurple;
      }
      .producto:nth-child(6) {
        background-color: $kpurple;
      }
    }
    &.cocinas {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/cocinas/hc1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/cocinas/hc2.jpeg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/cocinas/hc3.jpeg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/cocinas/hc4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/cocinas/hc5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/cocinas/hc6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/cocinas/hc7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/cocinas/hc8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/cocinas/hc9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/cocinas/hc10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/cocinas/hc11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/cocinas/hc12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/hogar/cocinas/hc13.jpg");
      }
      .producto:nth-child(14) {
        background-image: url("./../media/hogar/cocinas/hc14.jpg");
      }
      .producto:nth-child(15) {
        background-image: url("./../media/hogar/cocinas/hc15.jpg");
      }
      .producto:nth-child(16) {
        background-image: url("./../media/hogar/cocinas/hc16.jpg");
      }
      .producto:nth-child(17) {
        background-image: url("./../media/hogar/cocinas/hc17.jpg");
      }
      .producto:nth-child(18) {
        background-image: url("./../media/hogar/cocinas/hc18.jpg");
      }
    }
    &.living {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/living/hl1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/living/hl2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/living/hl3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/living/hl4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/living/hl5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/living/hl6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/living/hl7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/living/hl8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/living/hl9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/living/hl10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/living/hl11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/living/hl12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/hogar/living/hl13.jpg");
      }
      .producto:nth-child(14) {
        background-image: url("./../media/hogar/living/hl14.jpg");
      }
      .producto:nth-child(15) {
        background-image: url("./../media/hogar/living/hl15.jpg");
      }
      .producto:nth-child(16) {
        background-image: url("./../media/hogar/living/hl16.jpg");
      }
      .producto:nth-child(17) {
        background-image: url("./../media/hogar/living/hl17.jpg");
      }
      .producto:nth-child(18) {
        background-image: url("./../media/hogar/living/hl18.jpg");
      }
      .producto:nth-child(19) {
        background-image: url("./../media/hogar/living/hl19.jpg");
      }
      .producto:nth-child(20) {
        background-image: url("./../media/hogar/living/hl20.jpg");
      }
      .producto:nth-child(21) {
        background-image: url("./../media/hogar/living/hl21.jpg");
      }
      .producto:nth-child(22) {
        background-image: url("./../media/hogar/living/hl22.jpg");
      }
      .producto:nth-child(23) {
        background-image: url("./../media/hogar/living/hl23.jpg");
      }
      .producto:nth-child(24) {
        background-image: url("./../media/hogar/living/hl24.jpg");
      }
      .producto:nth-child(25) {
        background-image: url("./../media/hogar/living/hl25.jpg");
      }
      .producto:nth-child(26) {
        background-image: url("./../media/hogar/living/hl26.jpg");
      }
      .producto:nth-child(27) {
        background-image: url("./../media/hogar/living/hl27.jpg");
      }
      .producto:nth-child(28) {
        background-image: url("./../media/hogar/living/hl28.jpg");
      }
      .producto:nth-child(29) {
        background-image: url("./../media/hogar/living/hl29.jpg");
      }
      .producto:nth-child(30) {
        background-image: url("./../media/hogar/living/hl30.jpg");
      }
      .producto:nth-child(31) {
        background-image: url("./../media/hogar/living/hl31.jpg");
      }
      .producto:nth-child(32) {
        background-image: url("./../media/hogar/living/hl32.jpg");
      }
      .producto:nth-child(33) {
        background-image: url("./../media/hogar/living/hl33.jpg");
      }
    }
    &.dormitorios-suite {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/dormitorios-suite/hds1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/dormitorios-suite/hds2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/dormitorios-suite/hds3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/dormitorios-suite/hds4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/dormitorios-suite/hds5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/dormitorios-suite/hds6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/dormitorios-suite/hds7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/dormitorios-suite/hds8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/dormitorios-suite/hds9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/dormitorios-suite/hds10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/dormitorios-suite/hds11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/dormitorios-suite/hds12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/hogar/dormitorios-suite/hds13.jpg");
      }
      .producto:nth-child(14) {
        background-image: url("./../media/hogar/dormitorios-suite/hds14.jpg");
      }
      .producto:nth-child(15) {
        background-image: url("./../media/hogar/dormitorios-suite/hds15.jpg");
      }
      .producto:nth-child(16) {
        background-image: url("./../media/hogar/dormitorios-suite/hds16.jpg");
      }
      .producto:nth-child(17) {
        background-image: url("./../media/hogar/dormitorios-suite/hds17.jpg");
      }
      .producto:nth-child(18) {
        background-image: url("./../media/hogar/dormitorios-suite/hds18.jpg");
      }
    }
    &.dormitorios-juveniles {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/hogar/dormitorios-juveniles/hdj13.jpg");
      }
    }
    &.banios {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/banios/hb1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/banios/hb2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/banios/hb3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/banios/hb4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/banios/hb5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/banios/hb6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/banios/hb7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/banios/hb8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/banios/hb9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/banios/hb10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/banios/hb11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/banios/hb12.jpg");
      }
    }
    &.comedores {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/comedores/hcm1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/comedores/hcm2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/comedores/hcm3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/comedores/hcm4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/comedores/hcm5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/comedores/hcm6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/comedores/hcm7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/comedores/hcm8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/comedores/hcm9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/comedores/hcm10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/comedores/hcm11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/comedores/hcm12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/hogar/comedores/hcm13.jpg");
      }
    }
    &.revestimientos-en-interior {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri7.jpeg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/revestimientos-en-interior/hri8.jpg");
      }
    }
    &.escaleras-y-aberturas {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea12.jpg");
      }
      .producto:nth-child(13) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea13.jpg");
      }
      .producto:nth-child(14) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea14.jpg");
      }
      .producto:nth-child(15) {
        background-image: url("./../media/hogar/escaleras-y-aberturas/hea15.jpg");
      }
    }
    &.exteriores {
      .producto:nth-child(1) {
        background-image: url("./../media/hogar/exteriores/he1.jpg");
      }
      .producto:nth-child(2) {
        background-image: url("./../media/hogar/exteriores/he2.jpg");
      }
      .producto:nth-child(3) {
        background-image: url("./../media/hogar/exteriores/he3.jpg");
      }
      .producto:nth-child(4) {
        background-image: url("./../media/hogar/exteriores/he4.jpg");
      }
      .producto:nth-child(5) {
        background-image: url("./../media/hogar/exteriores/he5.jpg");
      }
      .producto:nth-child(6) {
        background-image: url("./../media/hogar/exteriores/he6.jpg");
      }
      .producto:nth-child(7) {
        background-image: url("./../media/hogar/exteriores/he7.jpg");
      }
      .producto:nth-child(8) {
        background-image: url("./../media/hogar/exteriores/he8.jpg");
      }
      .producto:nth-child(9) {
        background-image: url("./../media/hogar/exteriores/he9.jpg");
      }
      .producto:nth-child(10) {
        background-image: url("./../media/hogar/exteriores/he10.jpg");
      }
      .producto:nth-child(11) {
        background-image: url("./../media/hogar/exteriores/he11.jpg");
      }
      .producto:nth-child(12) {
        background-image: url("./../media/hogar/exteriores/he12.jpg");
      }
    }
  }
}
