.productos {
  padding: 3rem 0.75rem;
  .productos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin: 0 auto;
    max-width: 850px;
    .producto {
      display: flex;
      justify-content: end;
      min-height: 250px;
      max-width: 250px;
      position: relative;
      width: 100%;

      .producto-header {
        align-items: center;
        color: #fff;
        display: flex;
        height: 2rem;
        justify-content: end;
        padding: 0.5rem 0.75rem 0.5rem 0;
        position: relative;
        width: 100%;
        z-index: 1;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(60, 59, 59, 0.5);
          z-index: -1;
        }
      }
    }
    &.escritorios {
      .primero {
        background-color: $kpurple;
      }
      .segundo {
        background-color: $kpurple;
      }
      .tercero {
        background-color: $kpurple;
      }
      .cuarto {
        background-color: $kpurple;
      }
      .quinto {
        background-color: $kpurple;
      }
      .sexto {
        background-color: $kpurple;
      }
    }
    &.puestos {
      .primero {
        background-color: $kred;
      }
      .segundo {
        background-color: $kred;
      }
      .tercero {
        background-color: $kred;
      }
      .cuarto {
        background-color: $kred;
      }
      .quinto {
        background-color: $kred;
      }
      .sexto {
        background-color: $kred;
      }
    }
    &.recepciones {
      .primero {
        background-color: $kred;
      }
      .segundo {
        background-color: $kred;
      }
      .tercero {
        background-color: $kred;
      }
      .cuarto {
        background-color: $kred;
      }
      .quinto {
        background-color: $kred;
      }
      .sexto {
        background-color: $kred;
      }
    }
    &.salas {
      .primero {
        background-color: $kpurple;
      }
      .segundo {
        background-color: $kpurple;
      }
      .tercero {
        background-color: $kpurple;
      }
      .cuarto {
        background-color: $kpurple;
      }
      .quinto {
        background-color: $kpurple;
      }
      .sexto {
        background-color: $kpurple;
      }
    }
    &.revestimientos {
      .primero {
        background-color: $kred;
      }
      .segundo {
        background-color: $kred;
      }
      .tercero {
        background-color: $kred;
      }
      .cuarto {
        background-color: $kred;
      }
      .quinto {
        background-color: $kred;
      }
      .sexto {
        background-color: $kred;
      }
    }
    &.cerramientos {
      .primero {
        background-color: $kred;
      }
      .segundo {
        background-color: $kred;
      }
      .tercero {
        background-color: $kred;
      }
      .cuarto {
        background-color: $kred;
      }
      .quinto {
        background-color: $kred;
      }
      .sexto {
        background-color: $kred;
      }
    }
    &.bibliotecas {
      .primero {
        background-color: $kred;
      }
      .segundo {
        background-color: $kred;
      }
      .tercero {
        background-color: $kred;
      }
      .cuarto {
        background-color: $kred;
      }
      .quinto {
        background-color: $kred;
      }
      .sexto {
        background-color: $kred;
      }
    }
    &.comerciales {
      .primero {
        background-color: $kpurple;
      }
      .segundo {
        background-color: $kpurple;
      }
      .tercero {
        background-color: $kpurple;
      }
      .cuarto {
        background-color: $kpurple;
      }
      .quinto {
        background-color: $kpurple;
      }
      .sexto {
        background-color: $kpurple;
      }
    }
    &.sillas {
      .primero {
        background-color: $kpurple;
      }
      .segundo {
        background-color: $kpurple;
      }
      .tercero {
        background-color: $kpurple;
      }
      .cuarto {
        background-color: $kpurple;
      }
      .quinto {
        background-color: $kpurple;
      }
      .sexto {
        background-color: $kpurple;
      }
    }
  }
}
